<div id="vehicle-grid">
	<div class="container no-results" ng-show="vm.results.length === 0">
		No results found. Please widen your search.
	</div>
	<div class="container-fluid">
		<div ng-repeat="vehicle in vm.results | orderBy:vm.order:vm.reverse">
			<div class="col-md-4 col-lg-3">
				<a ng-click="vm.getVehicle(vehicle.vehicle_id)">
					<div class="thumbnail">
						<div class="thumbnail-main-text">{{vehicle.year + " " + vehicle.make + " " + vehicle.model}}</div>
						<div class="thumbnail-main-text">{{vehicle.variant}}</div>
						<img class="img-responsive" ng-src="{{vehicle.image_path}}" alt="">
						<div class="thumbnail-county-text">{{vehicle.county}}</div>
						<div class="thumbnail-price-text">€{{vehicle.price}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
