<div id="vehicle" ng-init="vm.init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <uib-carousel interval="" no-wrap="false">
                    <uib-slide ng-repeat="slide in vm.images" active="slide.active">
                        <img class="img-responsive" ng-src="{{slide.image_path}}">
                    </uib-slide>
                </uib-carousel>
            </div>
            <div id="vehicle-details">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="heading-text">
                                <div class="main-text">{{vm.vehicle.year + " " + vm.vehicle.make + " " + vm.vehicle.model}}</div>
                                <div class="main-text">{{vm.vehicle.variant}}</div>
                            </div>
                            <div class="price">
                                <div class="">
                                    <div class="thumbnail-price-text">€{{vm.vehicle.price}}</div>
                                </div>
                            </div>
                        </div>
                        <div id="sub-heading">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-user"></span> Dealer
                                    </div>
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-time"></span> {{vm.adAge}} days old
                                    </div>
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-eye-open"></span> 407 views
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>
                                            <div class="sub-text"><span class="glyphicon glyphicon-map-marker"></span> Location:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.county}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><i class="fa fa-tachometer"></i> Mileage:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.mileage}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><span class="icon fuel"></span> Fuel Type:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.fuel_type}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><span class="icon engine"></span> Engine Size:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.engine_size}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><i class="fa fa-car"></i> Body Style:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.body_style}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><span class="icon trans"></span> Transmission:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.transmission}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><span class="icon car-tax"></span> Tax Expiry:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.tax_expiry}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="sub-text"><span class="icon car-test"></span> Test Expiry:</div>
                                        </td>
                                        <td>
                                            <div class="subtext-text">{{vm.vehicle.test_expiry}}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="vehicle-description">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-pencil"></span> Description
                        </div>
                        <div id="description">
                            {{vm.vehicle.description}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <uib-accordion>
                        <uib-accordion-group is-open="status.open">
                            <uib-accordion-heading>
                                <div class="">
                                    <span class="glyphicon glyphicon-envelope"></span> Message Seller
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </div>
                            </uib-accordion-heading>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8">
                                        <div class="form-group">
                                            <button class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <div class="col-md-3">
                    <uib-accordion>
                        <uib-accordion-group is-open="status.open">
                            <uib-accordion-heading>
                                <div class="">
                                    <span class="glyphicon glyphicon-earphone"></span> Show Phone Number
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </div>
                            </uib-accordion-heading>
                            <div class="panel-body">
                                {{vm.vehicle.telephone}}
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>