body {
  background-color: white;
  padding-top: 70px;
}

html,
body { 
  height: 100vh; 
}

/* Banner */
#banner .navbar-default .logo {
  height: 50px;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main navbar */
#main-nav .navbar-default {
   margin-top: 50px;
   height: 10px;
   background: -webkit-gradient(linear, 0% 48%, 0% 47%, from(#f59429 ), to(#ED9D4E));
   z-index: 2;
}
#main-nav .navbar-default .navbar-nav li a {
  color: white;
}
#main-nav .navbar-default .navbar-nav li a:hover {
  color: black;
}
#main-nav .navbar-default .navbar-nav .active a {
  color: #555;
  background-color: white;
}
#main-nav .navbar-default .navbar-nav .active a:hover,
#main-nav .navbar-default .navbar-nav .active a:focus {
  color: black;
}
/*.navbar-brand > img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
}*/


/* Top search bar */
#top-search .navbar{
  background-size: cover;
  margin-top: 101px;
  padding-top: 0.5em;
  border-bottom: 1px solid #f59429;
  z-index: 1;
  background-color: white;
}
#top-search .panel-body {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}
#top-search .multiselect-parent {
  color: #555;
  width: 100%;
  text-align: left; 
}
#top-search .multiselect-parent .btn ul {
  color: #555;
  text-align: left;
}
#top-search .container a {
  color: #337ab7;
}
#top-search .container a:hover {
  color: black;
}
#top-search .btn {
  width: 100%;
}
#top-search img {
   max-height: 100%;
   height: 100%;
   width: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#top-search .right.carousel-control {
    display: none;
}
#top-search .left.carousel-control {
    display: none;
}
#top-search .carousel-indicators {
    display: none;
}
#top-search #otherMake {
  min-width: 100%;
}
#top-search #multiSelect li a {
  color: #555;
}
#top-search #multiSelect .dropdown-toggle {
  color: #555;
  text-align: left;
}
#top-search #multiSelect .dropdown-toggle .caret {
  position: absolute;
  right: 3%;
  top: 45%;
  color: black;
}

/* Vehicle refine */
#vehicle-refine  {
  background-color: #f59429;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#vehicle-refine .form-control {
  height: 2.4em;
  font-size: 75%;
}
#vehicle-refine label:hover {
  color: black;
}

/* Vehicle grid */
#vehicle-grid {
  margin-top: 180px;
}
#vehicle-grid .no-results {
    color: black;
    font-size: 1.2em;
}

/* Vehicle quantity */
#vehicle-quantity {
  color: white;
}

/* Thumbnail */
.thumbnail {
  border: 1px solid #ccc;
  clear: both;
}
.thumbnail img {
  width: 300px;
  height: 200px;
}
.thumbnail-main-text{
  float: left;
  width: 70%;
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
  padding-left: 0;
}
.thumbnail-year-text {
  width: 30%;
  float: left;
  text-align: right;
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
  padding-right: 0;
}
.thumbnail-county-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  padding-left: 0;
  margin-right: 0;
  text-align: right;
}
.thumbnail-price-text {
  margin-top: 3px;
  font-size: 1.5em;
  background-color: #f59429;
  text-align: center;
  display: inline-block;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
a .thumbnail:hover {
  text-decoration: none;
  background-color: #f0f1f2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* Vehicle */
#vehicle {
  margin-top: 135px;
}
#vehicle .heading-text {
  width: 70%;
  display: inline-block;
}
#vehicle .main-text {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  float: left;
  width: 70%;
}
#vehicle .year-text {
  font-size: 1.1em;
  color: #337ab7;
  font-weight: bold;
  float: left;
  width: 70%;
}
#vehicle .price {
  text-align: right;
  float: right;
}
#vehicle #sub-heading {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
#vehicle .sub-text {
  font-size: 1.1em;
  font-weight: bold;
}
#vehicle .standard-text {
  font-size: 1.0em;
}
#vehicle #vehicle-description {
  margin-top: 10px;
}
#vehicle .img-responsive {
  height: 400px;
  width: auto;
}
#vehicle #vehicle-details .panel {
  height: 400px;
  width: auto;
  color: #555;
}
#vehicle #vehicle-details .panel-heading,
#vehicle #vehicle-description .panel-heading {
    background-color: #f59429;
    color: white;
}
#vehicle #vehicle-details table {
  width: 100%;
}
#vehicle #vehicle-description #description {
    min-height: 237px;
}


/* Login modal */
#login-modal .btn {
  width: 100%;
}
#login-modal .modal-header {
  padding-top: 0;
}
#login-modal .modal-footer {
  padding-bottom: 0;
}
#login-modal .modal-footer, 
.modal-header {
  text-align: center;
}
#login-modal #modal-glyphicon {
  text-align: right;
}
#login-modal #modal-glyphicon a {
  color: #f59429;
}

/* Signup modal */
#signup-modal .btn {
  width: 100%;
}
#signup-modal .modal-header {
  padding-top: 0;
}
#signup-modal .modal-footer, 
.modal-header {
  text-align: center;
}
#signup-modal #modal-glyphicon {
  text-align: right;
}
#signup-modal #modal-glyphicon a {
  color: #f59429;
}

/* Place ad */
#place-ad {
  margin-top: 50px;
  color: white;
}
#place-ad label:hover {
  color: black;
}
#place-ad .well {
  background-color: #f59429;
}
#place-ad p {
  color: white;
  font-size: 1.2em;
}
#place-ad #reg {
  height: 34px;
  width: 165px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}
#place-ad #gb-irl {
  background: url('../images/gb-irl.png');
  background-size: contain;
  width: 27px;
  height: 31px;
  float: left;
}
#place-ad #reg-no {
  float: left;
  width: 134px;
}
#place-ad #reg-input {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  height: 30px;
  border-radius: 0px;
}
#place-ad #reg-input:focus {
  border: none;
}
#place-ad .btn {
  width: 100%;
}

/* form-control */
.form-control:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* Placeholder color */
.form-control::-webkit-input-placeholder {
  color: #555;
}

/* Add a quick red background for testing */
.background {
  background-color: red;
}

/* Errors */
.error-text {
  color: red;
  text-align: center;
}
input.ng-invalid.ng-touched {
  border-color: red;
}

/* Left, Right and Centre */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.centre {
  text-align: center;
}

/* An inner div to create a borderless margin */
.inner {
  margin: 1em;
}

/* @media queries */

/*Less than 1024px*/
@media(max-width: 992px) {
  #banner .navbar-default .logo {
    background-size: 200%;
    background-repeat: no-repeat;
    background-color: #337ab7;
  }
  #main-nav .navbar-default .container {
    background-color: #f59429;
  }
  #top-search .navbar {
    position: static;
    margin-top: 30px;
  }
  #vehicle-grid {
    margin-top: 10px;
  }
  #vehicle .heading-text {
    width: 100%;
  }
  #vehicle .main-text {
    width: 100%;
  }
  #vehicle .year-text {
    width: 100%;
  }
  #vehicle .price {
    text-align: left;
    float: left;
  }
  #vehicle .panel-heading {
    display: inline-block;
  }
  #vehicle, #place-ad {
    margin-top: 10px;
  }
  #vehicle #vehicle-details .panel {
    height: auto;
  }
  #vehicle .img-responsive {
    height: 200px;
  }
  a .thumbnail:hover {
    border: 1px solid #272526;
  }
}

@media(min-width:769px) {
  /*#vehicle-refine .affix {
    width: 66%;
  }*/
}

@media(width:1024px) {
  /*#side-bar {
    width: 82%;
  }*/
}

/* Custom Icons */
.icon {
  display: inline-block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
}
.engine {
  background: url('../images/icons/engine.svg');
  background-size: 16px 16px;
}
.fuel {
  background: url('../images/icons/fuel.svg');
  background-size: 16px 16px;
}
.trans {
  background: url('../images/icons/trans.svg');
  background-size: 16px 16px;
}
.car-tax {
  background: url('../images/icons/car-tax.svg');
  background-size: 16px 16px;
}
.car-test {
  background: url('../images/icons/car-test.svg');
  background-size: 16px 16px;
}












