<div id="vehicle-refine">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="vehicle-quantity">
                    <strong>{{vm.vehicleSearchModel.vehicleQty}} 
                    <span ng-show="vm.vehicleSearchModel.vehicleQty === 1"> vehicle found</span>
                    <span ng-show="vm.vehicleSearchModel.vehicleQty !== 1"> vehicles found</span>
                    </strong>
                </div>
            </div>
            <div class="col-md-2">
                <label class="radio-inline">
                    <input type="radio" value="any" ng-model="vm.vehicleSearchModel.sellerType" ng-change="vm.refineVehicles()" checked="checked">Any</label>
            </div>
            <div class="col-md-2">
                <label class="radio-inline">
                    <input type="radio" value="private" ng-model="vm.vehicleSearchModel.sellerType" ng-change="vm.refineVehicles()">Private</label>
            </div>
            <div class="col-md-2">
                <label class="radio-inline">
                    <input id="dealer" name="dealer" value="dealer" type="radio" ng-model="vm.vehicleSearchModel.sellerType" ng-change="vm.refineVehicles()">Dealer</label>
            </div>
            <div class="col-md-2">
                <select id="refineCombo" name="refineCombo" class="form-control" ng-model="order" ng-change="vm.updateVehicles(order)">
                    <option value="">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="Highest Price">Highest Price</option>
                    <option value="Lowest Price">Lowest Price</option>
                </select>
            </div>
        </div>
    </div>
</div>