<div id="place-ad">
	<div class="container">
		<div class="well">
			<form class="form" role="form">

				<p class="form-control-static"><span class="glyphicon glyphicon-pencil"></span> Advertisement Details</p>

				<div class="row">
					<div class="col-xs-12 col-md-8">
						<div class="form-group">
							<label class="sr-only" for="title">Ad Title</label>
							<input type="text" id="title" name="title" class="form-control" placeholder="Ad Title" />
						</div>
					</div>

					<div class="col-xs-6 col-md-1">
						<div class="form-group">
							<label class="sr-only" for="price">Ad Title</label>
							<input type="text" id="price" name="price" class="form-control" placeholder="Price" />
						</div>
					</div>

					<div class="col-xs-6 col-md-1">
						<div class="form-group">
							<label class="sr-only" for="currency">Ad Title</label>
							<select id="currency" name="currency" class="form-control">
								<option value="1">€</option>
								<option value="2">£</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="tel">Telephone Number</label>
							<input type="text" id="tel" name="tel" class="form-control" placeholder="Telephone No" />
						</div>
					</div>
				</div>

				<p class="form-control-static">
					<Span class="glyphicon glyphicon-search"></Span> Search for Vehicle (Vehicle reg not listed in ad)</p>

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<div id="reg">
								<div id="gb-irl"></div>
								<div id="reg-no">
									<input type="text" id="reg-input" placeholder="Enter Reg" class="form-control">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<button class="btn btn-primary" type="button">
								<Span class="glyphicon glyphicon-search"></Span>
							</button>
						</div>
					</div>
				</div>

				<p class="form-control-static"><i class="fa fa-car"></i> Vehicle Details</p>

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="make">make</label>
							<select id="make" name="make" class="form-control">
								<option value="1">Make</option>
								<option value="2">Ford</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="model">model</label>
							<select id="model" name="model" class="form-control">
								<option value="1">Model</option>
								<option value="2">Ford</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="year">year</label>
							<input type="text" id="year" name="year" class="form-control" placeholder="Enter Year" />
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="engine">engine</label>
							<input type="text" id="engine" name="engine" class="form-control" placeholder="Engine Size (Optional)" />
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="fuelType">fuelType</label>
							<select id="fuelType" name="fuelType" class="form-control">
								<option value="1">Fuel Type</option>
								<option value="2">Diesel</option>
								<option value="2">Gas</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="bodyType">bodyType</label>
							<select id="bodyType" name="bodyType" class="form-control">
								<option value="1">Body Type</option>
								<option value="2">Hatchback</option>
								<option value="2">Estate</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row" ng-show="false">
					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="otherMake">otherMake</label>
							<input type="text" id="otherMake" name="otherMake" class="form-control" placeholder="Enter Make">
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="otherModel">otherModel</label>
							<input type="text" id="otherModel" name="otherModel" class="form-control" placeholder="Enter Model">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="transmission">transmission</label>
							<select id="transmission" name="transmission" class="form-control">
								<option value="1">Transmission</option>
								<option value="2">Automatic</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="mileage">mileage</label>
							<input type="text" id="mileage" name="mileage" class="form-control" placeholder="Mileage (Optional)" />
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="taxExpiry">taxExpiry</label>
							<select id="taxExpiry" name="taxExpiry" class="form-control">
								<option value="1">Tax Expiry</option>
								<option value="2">Jan 2016</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="sr-only" for="testExpiry">testExpiry</label>
							<select id="testExpiry" name="testExpiry" class="form-control">
								<option value="1">Test Expiry</option>
								<option value="2">Feb 2016</option>
							</select>
						</div>
					</div>

					<div class="col-xs-6 col-md-2">
						<div class="form-group">
							<label class="radio-inline">
								<input type="radio" name="sellerType" value="private"> Private
							</label>
						</div>
					</div>

					<div class="col-xs-6 col-md-2">
						<div class="form-group">
							<label class="radio-inline">
								<input type="radio" name="sellerType" value="trade"> Trade
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 col-md-offset-10">
						<div id="submit-button" class="form-group">
							<button type="button" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>