<div id="login-modal">
	<div class="modal-header">
		<div id="modal-glyphicon">
			<h3><a href="#" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove-circle"></span></a></h3>
		</div>
		<h3 class="modal-title">Log in</h3>
		<a href="#" ng-click="vm.signUp()">Or, sign up.</a>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<input type="text" id="email" name="email" class="form-control" placeholder="Email" />
		</div>
		<div class="form-group">
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary">LOGIN</button>
		</div>
	</div>
	<div class="modal-footer">
		<div class="table">
			<tr>
				<td>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="">Remember me</label>
					</div>
				</td>
				<td>
					<a href="#">Forgot Password?</a>
				</td>
			</tr>
		</div>
	</div>
</div>