<div id="signup-modal">
	<div class="modal-header">
		<div id="modal-glyphicon">
			<h3><a href="#" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove-circle"></span></a></h3>
		</div>
		<h3 class="modal-title">Sign Up</h3>
		<a href="#" ng-click="vm.login()">Already have an account? Log in.</a>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<input type="text" id="email" name="email" class="form-control" placeholder="Email" />
		</div>
		<div class="form-group">
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary">SIGN UP</button>
		</div>
	</div>
	<div class="modal-footer">
		By signing up, I agree to *'s <a href="#">terms of service</a>, <a href="#">privacy policy</a>, and <a href="#">cookie policy</a>.
	</div>
</div>