<div class="header">

	<div id="banner">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="logo"></div>
		</div>
	</div>

	<div id="main-nav">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="js-navbar-collapse">
					<ul class="nav navbar-nav">
						<li ui-sref-active="active"><a ui-sref="results"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<li><a ng-href="#/">About</a></li>
						<li><a ng-href="#/">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" ng-click="vm.placeAd()"><span class="glyphicon glyphicon-upload"></span> Place Ad</a></li>
						<li ng-show="false" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-user"></span> Corwin <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#"><span class="glyphicon glyphicon-edit"></span> My account</a></li>
								<li><a href="#"><i class="fa fa-car"></i> My ads</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#"><i class="fa fa-sign-out fa-lg"></i> Log out</a></li>
							</ul>
						</li>
						<li ng-show="true"><a href="#" ng-click="vm.openSignupModal()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li ng-show="true"><a href="#" ng-click="vm.openLoginModal()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>