<div id="top-search" ng-show="vm.$state.current.name == 'results' || vm.$state.current.name == 'vehicle'" ng-init="vm.init()">
	here
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<form class="form" name="form" role="form" novalidate>
				<div class="panel-body">
					<div class="row">
						<!--TO DO: Refactor to col-md-2 form-group separate divs-->
						<div class="col-md-2 form-group">
							<label class="sr-only" for="make">make</label>
							<select id="make" name="make" class="form-control" ng-model="vm.vehicleSearchModel.make" ng-options="make for make in vm.dataModel.makes" ng-change="vm.getModelsFromMake(vm.vehicleSearchModel.make)">
								<option value="">Any Make</option>
							</select>
						</div>
						<div class="col-md-2 form-group">
							<label class="sr-only" for="model">model</label>
							<select id="model" name="model" class="form-control" ng-model="vm.vehicleSearchModel.model" ng-options="model for model in vm.dataModel.models" ng-change="vm.chooseOtherModel(vm.vehicleSearchModel.model)">
								<option value="">Any Model</option>
							</select>
						</div>

						<div class="col-md-2 form-group">
							<label class="sr-only" for="minPrice">minPrice</label>
							<input type="text" id="minPrice" name="minPrice" class="form-control" placeholder="Any Min Price" 
							ng-model="vm.vehicleSearchModel.minPrice" ng-pattern="/^[0-9]*$/" ng-change="vm.validateMinMaxPrice(form)">
							<div class="error-text" ng-show="form.minPrice.$error.pattern">Please enter a number</div>
						</div>

						<div class="col-md-2 form-group">
							<label class="sr-only" for="maxPrice">maxPrice</label>
							<input type="text" id="maxPrice" name="maxPrice" class="form-control" placeholder="Any Max Price" 
							ng-model="vm.vehicleSearchModel.maxPrice" ng-pattern="/^[0-9]*$/" ng-change="vm.validateMinMaxPrice(form)">
							<div class="error-text" ng-show="form.maxPrice.$error.pattern">Please enter a number</div>
							<div class="error-text" ng-show="form.maxPrice.$error.maxPriceError">Max Price cannot be <br/>less than Min Price</div>	
						</div>

						<div class="col-md-2 form-group">
							<label class="sr-only" for="county">county</label>
							<div id="multiSelect" ng-dropdown-multiselect="" options="vm.dataModel.counties" selected-model="vm.vehicleSearchModel.counties" 
							translation-texts="vm.dataModel.multipleCountySelectText" extra-settings="vm.dataModel.multipleCountySelect"></div>
						</div>

						<div class="col-md-2 form-group">
							<button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="vm.search()"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2 form-group" ng-show="vm.dataModel.showOtherMake">
							<label class="sr-only" for="otherMake ">otherMake</label>
							<input type="text" id="otherMake" name="otherMake" class="form-control" placeholder="Enter other make"
							ng-model="vm.vehicleSearchModel.make">
						</div>

						<div class="col-md-2 form-group" ng-show="vm.dataModel.showOtherModel">
							<label class="sr-only " for="otherModel">otherModel</label>
							<input type="text" id="otherModel" name="otherModel" class="form-control" placeholder="Enter other model"
							ng-model="vm.vehicleSearchModel.model">
						</div>
					</div>

					<div class="row">
						<div class="logos hidden-xs">
							<div class="col-md-2 form-group">
								<uib-carousel interval="vm.dataModel.slideInterval" no-wrap="false">
									<uib-slide ng-repeat="slide in vm.dataModel.slides">
										<img ng-src="{{slide.src}}">
									</uib-slide>
								</uib-carousel>
							</div>

							<div class="col-md-2 form-group col-md-offset-2">
								<uib-carousel interval="vm.dataModel.slideInterval" no-wrap="false">
									<uib-slide ng-repeat="slide2 in vm.dataModel.slides2">
										<img ng-src="{{slide2.src}}">
									</uib-slide>
								</uib-carousel>
							</div>

							<div class="col-md-2 form-group col-md-offset-2">
								<uib-carousel interval="vm.dataModel.slideInterval" no-wrap="false">
									<uib-slide ng-repeat="slide3 in vm.dataModel.slides3">
										<img ng-src="{{slide3.src}}">
									</uib-slide>
								</uib-carousel>
							</div>
						</div>

						<div class="col-md-2 form-group centre ">
							<h6><a href="#" ng-click="vm.dataModel.isCollapsed=!vm.dataModel.isCollapsed">
									{{vm.dataModel.isCollapsed ? 'More Options' : 'Less Options'}} 
									<span class="glyphicon" ng-class="{'glyphicon-chevron-right': vm.dataModel.isCollapsed, 'glyphicon-chevron-down': !vm.dataModel.isCollapsed}">
									</span>
								</a>
							</h6>
						</div>
					</div>
				</div>


				<div uib-collapse="vm.dataModel.isCollapsed">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2 form-group">
								<label class="sr-only" for="minYear">minYear</label>
								<select id="minYear" name="minYear" class="form-control" ng-model="vm.vehicleSearchModel.minYear" ng-options="year for year in vm.dataModel.minYearArray"
								ng-change="vm.getMaxYearArray(vm.vehicleSearchModel.minYear)">
									<option value="">Any Min Year</option>
								</select>
							</div>

							<div class="col-md-2 form-group">
								<label class="sr-only" for="maxYear">maxYear</label>
								<select id="maxYear" name="maxYear" class="form-control" ng-model="vm.vehicleSearchModel.maxYear" ng-options="year for year in vm.dataModel.maxYearArray">
									<option value="">Any Max Year</option>
								</select>
							</div>

							<div class="col-md-2 form-group">
								<label class="sr-only" for="bodyType">bodyType</label>
								<select id="bodyType" name="bodyType" class="form-control" ng-model="vm.vehicleSearchModel.bodyType">
									<option value="">Any Body Type</option>
									<option value="Hatchback">Hatchback</option>
									<option value="Saloon">Saloon</option>
									<option value="SUV">SUV</option>
									<option value="MPV">MPV</option>
									<option value="Estate">Estate</option>
									<option value="Coupe">Coupe</option>
									<option value="Convertible">Convertible</option>
								</select>
							</div>

							<div class="col-md-2 form-group">
								<label class="sr-only" for="fuelType">fuelType</label>
								<select id="fuelType" name="fuelType" class="form-control" ng-model="vm.vehicleSearchModel.fuelType">
									<option value="">Any Fuel Type</option>
									<option value="Diesel">Diesel</option>
									<option value="Petrol">Petrol</option>
									<option value="Bi-fuel">Bi-Fuel</option>
									<option value="Electric">Electric</option>
									<option value="Hybrid">Hybrid</option>
								</select>
							</div>

							<div class="col-md-2 form-group">
								<label class="sr-only" for="sellerType">transmission</label>
								<select id="sellerType" name="sellerType" class="form-control" ng-model="vm.vehicleSearchModel.transmission">
									<option value="">Any Transmission</option>
									<option value="Manual">Manual</option>
									<option value="Automatic">Automatic</option>
								</select>
							</div>

							<div class="col-md-2 form-group">
								<label class="sr-only" for="keyword">Key Word</label>
								<input type="text" id="keyword" name="keyword" placeholder="Key Word e.g. Turbo" class="form-control" 
								ng-model="vm.vehicleSearchModel.keyWord"/>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="animate-hide" ng-include="'scripts/layout/vehicle-refine/vehicle-refine.html'" ng-show="vm.$state.current.name=='results'"></div>
	</div>
</div>